/* generales */
.cetenidStrong {
    color: #BF304A;
}

.elemento {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.whatsapp {
    position: fixed;
    color: black;
    padding: 0.5rem 1rem;
    display: inline-block;
    bottom: 1rem;
    right: 0.1rem;
    text-decoration: none;
    z-index: 1;
    margin-bottom: 20px;
    width: 70px;
}

.whatsapp img {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.5em 1.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 70px;
}

/*Navbar*/

.navbarContainer {
    background: linear-gradient(270deg, #F7985B 0%, #FFF157 23.44%, #FDFDF2 73.96%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbarLogo {
    max-height: 125px;
    object-fit: cover;
    overflow: hidden;
    width: 360px;
}

.navbarContainerMenu {
    padding: 0 0;
    color: #390000;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.bg-whitee {
    background-color: #FDFDF2;
    ;
}

/**footer*/
.footerContainer {
    background: radial-gradient(126.78% 126.78% at 50% 124.3%, #F7985B 0%, #FFF157 52.33%, #FDFDF2 91.56%);
}

.footerContainerCobertura {
    border: 1px solid #390000;
    display: flex;
    min-height: 210px;
    max-width: 370px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    box-shadow: 32px 19px 42px 0px rgba(0, 0, 0, 0.25);
}

.footerContainerCobertura h4 {
    border-bottom: 1px solid #390000;
    margin-bottom: 0px;
    font-family: Quicksand;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
}

.footerContainerCobertura p {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #390000;
}

.footerContainerMenu a {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #390000;
}

.footerContainerFlex {
    display: flex;
    justify-content: center;
}

.footerContainerCopyright {
    text-align: center;
}

.footer {
    display: grid;
    width: 100%;
    grid-auto-flow: row;
    place-items: start;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    justify-items: center !important;
    align-items: center !important;
}

.footerContainer h5 {
    font-weight: bold;
    color: #390000;
}

.footerContainerp {
    color: #390000;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 300;
    line-height: 15px;
}

/*home*/

.homeBodyContainer {
    background-color: #FDFDF2;
}

/*swipper*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-horizontal {
    touch-action: pan-y;
    height: 550px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FDFDF2;
    ;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: #FDFDF2;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #BF304A;
    ;
    background-color: #FDFDF2;
    border-radius: 50px;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #BF304A;
    ;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);


}


.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #FDFDF2 !important;
}

/*Home*/
.homeCardContainerDesayunoPileta {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: var(--rounded-box, 1rem);
    text-align: center;
}

.homeCardContainerDesayunoPileta figure>* {
    max-width: 600px;
}

.homeContainerTextoPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;

}

.homeContainerComoTrabajamos {
    display: flex;
    justify-content: center;
    color: white;

}

.homeContainerComoTrabajamos a {
    box-sizing: border-box;
    width: 349px;
    height: 52px;
    background-color: #BF304A;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    font-family: "Montserrat";
    margin: 20px;
}

.homeContainerTextoPrincipal h3 {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #BF304A;
    justify-content: space-evenly;

}


.homeContainerTextoPrincipal1 {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border-left: 3px solid #BF304A;
    padding-left: 20px;
}

.homeContainerTextoPrincipal1 h1 {
    color: #BF304A;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
}

.homeContainerTextoPrincipal1 p {
    font-family: "Noto Serif";
    font-size: 25px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #390000;

}

.homeContainerTextoPrincipal2 {


    max-width: 550px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    align-content: center;
    justify-content: space-evenly;


}

.homeContainerTextoPrincipal2 p {
    font-family: "Noto Serif";
    font-size: 25px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #390000;
    max-width: 350px;
}

.homeContainerTextoPrincipal2Texto {
    width: 70%;
}

.homeContainerTextoPrincipal2 div {
    display: flex;
    margin: 20px;
    max-width: 730px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.homeContainerTextoPrincipal2 div img {
    max-width: 80px;
}

.homeBodyCardsContainer {
    max-width: 100%;
    display: flex;
    justify-content: center;


}

.homeBodyCardsContainerImgTexto {
    max-width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.homeBodyCardsContainerImgTexto img {

    max-height: 300px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

.homeBodyCardsContainerImgTexto div {
    width: 40%;
}

.homeBodyCardsContainerImgTexto p {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0em;
    color: #8C2A3B;
}

.homeContainerDondeEstamos {
    display: flex;
    justify-content: center;
}

.homeContainerDondeEstamos a {
    box-sizing: border-box;
    width: 349px;
    height: 52px;
    background-color: #BF304A;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    font-family: "Montserrat";
    margin: 20px;
    box-shadow: 32px 19px 42px 0px rgba(71, 71, 71, 0.25);
}

/*Nosotros*/
.NosotrosBodySection {
    background-color: #FDFDF2;
}

.NosotrosBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.NosotrosBodyContainerCard {
    width: 73%;
    padding-top: 20px;
}

.NosotrosBodyContainerCard h1 {
    color: #BF304A;
    font-family: "Quicksand";
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    border-bottom: 1px solid #000000;
}

.NosotrosContainerEquipoDirectivoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NosotrosContainerEquipoDirectivo {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-evenly;
}

.NosotrosBodyContainerP {
    font-family: "Noto Serif";
    font-size: 25px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #390000;
}

.NosotrosContainerEquipoDirectivoCard h2 {
    color: #BF304A;
    font-family: "Quicksand";
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
}

.NosotrosCoordinadoraTexto {
    color: #BF304A;
    font-family: "Quicksand";
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    margin-top: 20px;

    border-bottom: 1px solid #000000;
}

.centeer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.NosotrosCoordinadoraCard {
    max-width: 24rem;
}

.nosotrosContainerImgEquipo img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*como trabajamos*/
.comoTrabajamosSection {
    background-color: #FDFDF2;
    ;
}

.comoTrabajamosContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 450px;
}

.comoTrabajamosContainerImg {
    max-width: 400px;
}

.comoTrabajamosContainerImg img {
    height: 400px;
    width: 1500px;
    object-fit: cover;
    border-radius: 20px;
}

.comoTrabajamosContainerTexto {
    max-width: 450px;
}

.comoTrabajamosContainerTexto h1 {
    font-family: "Quicksand";
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #BF304A;
    border-bottom: 1px solid #000000;
    text-align: center;
    width: 100%;
}

.comoTrabajamosContainerTexto2 {
    color: #390000;
    font-family: "Noto Serif";
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    align-items: center;
    text-align: center;
}

.comoTrabajamosContainerProfesionesTitulo {
    font-size: 34px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #390000;
    margin-bottom: 0px;
    font-family: Quicksand;
    padding-left: 70px;
}

.comoTrabajamosContainerProfesiones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.comoTrabajamosContainerProfesiones li {
    font-family: Quicksand;
    font-size: 28px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #C93143;
    border-bottom: 1px solid #000000;
}

.comoTrabajamosContainerProfesionesImg {
    width: 200px;
    height: 200px;
}


/*contacto*/
.contactoSectionContainer {
    max-height: max-content;
    padding: 20px;
}

.contactoMainContainer {
    background-color: #FDFDF2;
}

.contactoContainer {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
}

.contactoContainerInfo {
    width: 30%;
}

.contactoContainerInfoTitulo {
    font-family: "Quicksand";
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #BF304A;
    padding-top: 7px;
    border-bottom: 1px solid #000000;
    margin-top: 2px;
    padding-bottom: 10px;
}

.contactoContainerInfoTitulos {
    font-weight: bold;
    color: #390000;
}

.contactoContainerInfoTitulosP {
    color: #390000;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 300;
    line-height: 37px;
}

.contactoContainerTitulo2 {
    font-family: "Quicksand";
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #BF304A;

    border-bottom: 1px solid #000000;
}

.contactoContainerTitulo3 {
    font-family: "Quicksand";
    font-size: 29px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #390000;
}

.containerContactoMap {
    max-width: 100%;
}

.containerContactoMap iframe {
    width: 100%;
}

.contactoContainerButtonEnviar {
    text-align: center;
}

.contactoContainerButtonEnviarTexto {
    box-sizing: border-box;
    width: 199px;
    height: 49px;
    background-color: #BF304A;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    font-family: "Montserrat";
    margin: 20px;
}

/*Galeria*/
.galeriaBodyContainer {
    width:100% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeriaBodyContainerCards {
    width: auto; display: flex;
}

.galeriaBodyCards {
    
    width: 460px;

}
.galeriaBodyCards img{height: 275px;
    object-fit: cover;
    object-position: center;width: 100%;}
    